* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	margin: 0;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h4 {
	padding: 0;
	margin: 0;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 20px 0px;

	background: rgb(122, 12, 166);
	background: linear-gradient(
		90deg,
		rgb(127, 25, 168) 0%,
		rgba(157, 31, 210, 1) 33%,
		rgba(163, 40, 209, 1) 74%,
		rgb(184, 32, 249) 100%
	);
}

.navbar--icon {
	margin-left: 40px;
	width: 60px;
}

.navbar--course {
	margin-left: auto;
	padding-inline: 40px;
}

.meme-generator {
	height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 30px;
}

.meme--form {
	display: grid;
	grid-template: 40px 40px / 1fr 1fr;
	gap: 10px;
}

.meme--input {
	appearance: none;
	border: 1px solid rgb(139, 139, 139);
	border-radius: 5px;
	text-indent: 5px;
}

.meme--btn-new {
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	grid-area: 2 / 1 / 3 / -1;
	appearance: none;
	border: none;
	margin: 0;
	cursor: pointer;

	background: rgb(122, 12, 166);
	background: linear-gradient(
		90deg,
		rgb(127, 25, 168) 0%,
		rgba(157, 31, 210, 1) 33%,
		rgba(163, 40, 209, 1) 74%,
		rgb(184, 32, 249) 100%
	);
	color: white;
	border-radius: 5px;
}

.meme--image {
	max-width: 100%;
	padding: 10px;
}
